# Neon Serverless PostgreSQL Database Configuration Example
DATABASE_URL="postgresql://neondb_owner:YOUR_PASSWORD@ep-super-wildflower-b3asd2ls-pooler.c-4.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DATABASE_URL_UNPOOLED="postgresql://neondb_owner:YOUR_PASSWORD@ep-super-wildflower-b3asd2ls.c-4.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
PGHOST="ep-super-wildflower-b3asd2ls-pooler.c-4.ap-southeast-1.aws.neon.tech"
PGDATABASE="neondb"
PGUSER="neondb_owner"
PGSSLMODE="require"

# Microservices Ports & Mesh Configuration
API_GATEWAY_PORT=4000
PATIENT_SERVICE_PORT=4001
APPOINTMENT_SERVICE_PORT=4002
CLINICAL_SERVICE_PORT=4003
AUTH_SERVICE_PORT=4004
AUDIT_SERVICE_PORT=4005
